/* SideBar.css */

.sidebar {
    width: 12em; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: baseline;
    height: 20px;
  }

  .dharma {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: 4em;
    height: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .dharma2 {
    position: relative;
    display: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
  
  .dharma2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 10;
    transition: width 0.3s ease-in-out;
  }
  
  .dharma2:hover::before {
    width: 2em; /* Expand the underline to 100% */
    transition: width 0.3s ease-in-out;
  }
  

  .dharma3 {
    display: block;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    /* height: 20px; */
  }

  .dharma4 {
    display: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    /* height: 20px; */
  }


  .side-link {
    display: flex;
    align-items: center;
  }

  .sidebar:hover {
    width: 250px; /* Expanded width on hover */
    transition: .5s;

  }

  .sidebar:hover .dharma {
    padding: 0;
  }

  .sidebar:hover .dharma2 {
    display: block;
  }

  .sidebar:hover .dharma3 {
    display: block;
  }

  .sidebar:hover .dharma4 {
    display: block;
  }

  
  .sidebar-header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 0;
    text-align: center;
  }
  /* .sidebar-header a {
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  } */

  .profile-pic {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 3px white solid;
  }

  .title {
    height: 6em;
    padding-bottom: 1em;
  }
  




  .active-header {
    border: solid 1px rgb(255, 255, 255);
    background: rgba(224, 102, 102, 0.2);
    transition: 0.2s;
    height: 2em;
    border-radius: 10px;

  }

  .gitlinked {
    display: flex;
    padding-top: 2.5em;
    justify-content: space-evenly;
  }



  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  
  .active {
    transition: 0.7s;
    }
  

  /* .nested-links {
    display: none;
    list-style: none;
    padding-left: 20px;
  } */
  
  /* .nav-links li:hover .nested-links {
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    height: 2em;
  } */
  