body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'LOST-Font', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'LOST-Font';
  src:url('lost/LOST-Font.ttf.woff') format('woff'),
      url('lost/LOST-Font.ttf.svg#LOST-Font') format('svg'),
      url('lost/LOST-Font.ttf.eot'),
      url('lost/LOST-Font.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
